<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>customers</title>
  </head>
  <body>
    <h1>Lista de clientes</h1>
    <table>
      <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Opções</th>
      </tr>
      <% customers.forEach((customer) => { %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td>
          <a href="/update/<%= customer.id %>">Editar</a>
          <a href="/customers/<%= customer.id %>">Excluir</a>
        </td>
      </tr>
      <% }); %>
    </table>
    <a href="/">Cadastrar um novo</a>
  </body>
</html>
